<%- include('../layout/header.ejs') %>

    <!-- content đăng nhập và đăng ký -->
    <h3 style="margin-left: 44%; color: blue;"><span>Đăng nhập</span></h3>
    <div class="">
        <form class="" action="/account/login" method="POST">
            <div class="message">
                <% if (errorMessage) { %>
                    <div class="">
                        <%= errorMessage %>
                    </div>
                    <% } %>
            </div>
            <label for="username">Email</label>
            <input required type="text" name="email" id="email" placeholder="Email của bạn">
            <label for="password">Mật khẩu</label>
            <input required type="password" name="password" id="password" placeholder="Mật khẩu của bạn">
            <br>
            <span><input type="checkbox" name="keepLogin"> Duy trì đăng nhập</span>
            <br>
            <input type="submit" class="btn btn-primary" value="Đăng nhập">
        </form>
        <p>Chưa có tài khoản? <a href="/account/signup">Đăng ký</a></p> <a href="/account/forgot-pw">Quên mật khẩu?</a>
    </div>

    <%- include('../layout/footer.ejs') %>